@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

body {
    background-color: #E2F0F9;
}

.section-bck {
    color: #ffeaea;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.bck-col-1 {
    background-color: #b00101;
}

.bck-col-2 {
    background-color: #AAD2EE;
    margin-top: 0px;
}

.bck-col-3 {
    background-color: #102060;
    margin-top: 0px;
}

.Wordlist-settings {
    padding: 5px;
    height: 250px;
    overflow: auto;
    background: ivory;
}

/*-------------CONTROL STYLES----------------*/
#txtEditor {
    border-style: inset;
    Width: 100%;
}


option:hover {
    background-color: green;
    cursor: pointer;
}
