@page "/savedsentences"

<h1>Saved Sentences</h1>
@if (Sentences == null)
{
    <div class="spinner"></div>
}
else
{
    <div class="card-deck">
        @foreach (var sen in Sentences)
        {
            <div class="card m-2" style="min-width: 18rem; max-width: 30.5%;">
                <div class="card-body">
                    <p class="card-text">@sen.Content</p>
                </div>
            </div>
        }
    </div>
}
